<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Wordpress_Addon_WordPressSEO>
			<version>1.3.1.1</version>
			<fishpig>
				<id>wordpress-seo</id>
				<name>WordPress SEO</name>
				<url />
				<is_core>1</is_core>
			</fishpig>
		</Fishpig_Wordpress_Addon_WordPressSEO>
	</modules>
	<global>
		<helpers>
			<wp_addon_wordpressseo>
				<class>Fishpig_Wordpress_Addon_WordPressSEO_Helper</class>
			</wp_addon_wordpressseo>
			<wp_addon_yoastseo>
				<class>Fishpig_Wordpress_Addon_WordPressSEO_Helper</class>				
			</wp_addon_yoastseo>
		</helpers>
	</global>
	<frontend>
		<events>
			<wordpress_render_layout_before>
				<observers>
					<wp_addon_wordpressSeo>
						<type>singleton</type>
						<class>Fishpig_Wordpress_Addon_WordPressSEO_Helper_Data</class>
						<method>injectSeoObserver</method>
					</wp_addon_wordpressSeo>
				</observers>
			</wordpress_render_layout_before>
		</events>
	</frontend>
</config>