<?xml version="1.0"?>
<config>
    <modules>
		<Fishpig_Wordpress_Addon_Yarpp>
			<version>1.0.1.0</version>
			<fishpig>
				<id>yarpp</id>
				<name>YARPP</name>
				<url />
				<is_core>1</is_core>
			</fishpig>
		</Fishpig_Wordpress_Addon_Yarpp>
    </modules>
    <global>
    	<blocks>
	    	<wp_addon_yarpp>
	    		<class>Fishpig_Wordpress_Addon_Yarpp_Block</class>
	    	</wp_addon_yarpp>
    	</blocks>
    	<helpers>
	    	<wp_addon_yarpp>
	    		<class>Fishpig_Wordpress_Addon_Yarpp_Helper</class>
	    	</wp_addon_yarpp>
    	</helpers>
    </global>
    <wordpress>
    	<database>
    		<before_connect>
				<tables>
					<yarpp_related><table>yarpp_related_cache</table></yarpp_related>
					<yarpp_keyword><table>yarpp_keyword_cache</table></yarpp_keyword>
				</tables>
				<tables_mu>
					<yarpp_related><table>yarpp_related_cache</table></yarpp_related>
					<yarpp_keyword><table>yarpp_keyword_cache</table></yarpp_keyword>
				</tables_mu>
    		</before_connect>
		</database>
		<sidebar>
			<widgets>
				<yarpp_widget>
					<block>wp_addon_yarpp/sidebar_widget</block>
					<template>wordpress-addons/yarpp/sidebar/widget.phtml</template>
				</yarpp_widget>
			</widgets>
		</sidebar>
    </wordpress>
</config>